@import "../../../assets/css/const";

.dropdown {
    margin-left: 10px;
    position: relative;
    display: inline-block;
}

.dropdownContent {
    background: $base-background-color;
    right: -15px;
    display: none;
    position: absolute;
    min-width: 540px;
    overflow-y: scroll;
    max-height: 90vh;
}

.icon{
    width: 2vw;
    height: 2.8vh;
}

.btn{
    margin-top: 1.5vh;
    background: none;
    border: none;
}

.btn:active{
    background: $base-background-color;
}

.dropdownContent a {
    color: $base-text-color;
    padding: 20px 30px;
    text-decoration: none;
    display: block;
    font-size: 21px;
}

.dropdown:hover .dropdownContent {
    display: block;
    box-shadow: 0 4034px 0 4000px $base-shadow-color;
}

.dropdown:hover .btn {
    background: $base-background-selected-color;
}
.myBag{
    font-weight: 700;
    font-size: 21px;
    line-height: 160%;

    display: inline;
    color: $base-text-color;
}

.itemsCount{
    font-size: 22px;
    font-weight: 600;
    line-height: 160%;

    display: inline;
    color: $base-text-color;
}

.item{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
}

.title{
    margin-left: 16px;
    margin-top: 5vh;
}

.itemTitle{

    font-weight: 300;
    font-size: 22px;
    line-height: 145%;
    color: $base-text-color;
}

.itemImgContainer{
    width: 100%;
    height: 100%;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImg{
    float: bottom;
    max-height: 265px;
    max-width: 180px;
}

.itemPrice{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    padding-top: 5px;
    font-size: 21px;
    color: $base-text-color;
}

.itemSize{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    display: flex;
    color: $base-text-color;
}
.controls{
    margin-left: 16px;
}

.itemSizeSelector{
    margin-bottom: 7px;
}

.itemSizeSelector>button{
    overflow: clip;
    display: inline;
    background: $base-background-color;
    border: $base-text-color solid 2px;
    width: 32px;
    height: 32px;
    margin-right: 9px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 15px;
}

.itemSizeSelector>button:hover{
    background: $base-text-color;
    border: $base-text-color solid 2px;
    color: $base-background-color;
}

.itemSizeSelector>button.active{
    background: $base-text-color;
    border: $base-text-color solid 2px;
    color: $base-background-color;
}

.itemColor{
    font-weight: 500;
    font-size: 19px;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 18px;

    color: $base-text-color;
}

.itemColorSelector{
    margin-bottom: 7px;
}

.itemColorSelector>button{
    display: inline;
    border: $base-background-color solid 1px;
    width: 1.5vw;
    height: 3vh;
    margin-bottom: 2px;
    margin-right: 3px;
}

.itemColorSelector>button.active{
    box-shadow: 0 0 0 2px $base-active-color;
}

.itemColorSelector>button:hover{
    box-shadow: 0 0 0 2px $base-active-color;
}

.itemCount{
    display: grid;
    grid-gap: 60px;
    grid-template-rows: 1fr 1fr 1fr;
}

.itemPlus{
    float: top;
}

.itemPlus>div.text{
    line-height: 100%;
    height: 100%;
    margin: -18px;
}

.itemCountDisplay{
    font-weight: 500;
    font-size: 16px;
    color: $base-text-color;
    margin: 15px;
}

.itemMinus{
    float: bottom;
}

.itemMinus>div.text{
    line-height: 100%;
    height: 100%;
    margin: -22px;
}

.itemCount>button{
    background: $base-background-color;
    border: $base-text-color solid 2px;
    width: 32px;
    height: 32px;
    font-weight: 300;
    font-size: 40px;
}

.itemCount>button:hover{
    background: $base-text-color;
    border: $base-text-color solid 2px;
    color: $base-background-color;
}

.total{
    display: inline;

    font-family: 'Roboto', serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    margin-left: 20px;
    color: $base-text-color;
}

.sum{
    float: right;
    display: inline;

    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: $base-text-color;
}
.priceLabel{
    padding: 40px 40px 40px 10px;
}

.buttons{
    margin: 20px 25px 20px 20px;
}

.viewButton{
    float: left;
    display: inline;

    font-weight: 600;
    font-size: 18px;
    padding: 12px 42px;
    margin-bottom: 20px;

    text-transform: uppercase;

    background: $base-background-color;
    border: $base-text-color solid 2px;
    color: $base-text-color;
}

.viewButton:hover{
    background: $base-text-color;
    color: $base-background-color;
}

.checkOutButton{
    text-decoration: none;
    float: right;
    display: inline;

    font-weight: 600;
    font-size: 18px;

    text-transform: uppercase;

    padding: 12px 38px;
    margin-bottom: 20px;
    background: $base-active-color;
    border: $base-active-color solid 2px;

    color: $base-background-color;
}

.checkOutButton>div{
    color: $base-background-color;
}

.checkOutButton:hover{
    background: $base-active-selected-color;
    border: $base-active-selected-color solid 2px;
}

.spacer{
    padding-bottom: 90px;
}

.itemSpacer{
    width: 420px;
}

.badge{
    font-weight: 600;
    top: 10px;
    right: -5px;
    width: 25px;
    border-radius: 100%;
    font-size: 15px;
    position: absolute;
    background: $base-text-color;
    color: $base-background-color;
}
