@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

@import "../../assets/css/calc";

.main {
  padding-top: calc-height(80px);
  padding-left: 5%;
  overflow: clip;
}

.title {
  text-transform: capitalize;
  /* Title */
  margin-top: calc-height(75px);
  margin-bottom: calc-height(100px);
  width: fit-content;
  height: fit-content;

  /* Heading / Desktop / H2 */

  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 160%;
  /* identical to box height, or 67px */

  display: flex;
  align-items: center;

  /* --c-text */

  color: #1d1f22;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc-width(386px), 1fr));
  grid-gap: 1rem;
  grid-row-gap: calc-height(103px);
  margin-bottom: 100px;
}

.product {
  background: #ffffff;
  width: calc-width(386px);
  height: fit-content;
}

.product:hover {
  box-shadow: 0 0 90px -30px rgba(0, 0, 0, 0.5);
}

.card {
  position: relative;

  width: 87%;
  margin: 0 auto;
  padding-right: 35px;
  padding-top: 20px;
  /*box-shadow: gray 1px 1px 200px;*/

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  //width: fit-content;
  height: fit-content;

  /* --c-white */
}

.cardStockOut {
  -webkit-filter: grayscale(1);
  opacity: 0.5;
}

.cardImage {
  display: inline-block;
  max-width: calc-width(354px);
  height: calc(470px / 1.07);
}

.cardTitle {
  /* Title */

  margin-top: calc-height(10px);

  width: fit-content;
  height: fit-content;

  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  /* identical to box height, or 29px */

  display: flex;
  left: 0;

  /* --c-black */

  color: #1d1f22;
}

.cardPrice {
  width: fit-content;
  height: fit-content;

  /* --price-regular-font */

  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 2px;
  font-size: 25px;
  margin-bottom: 30px;
  /* identical to box height, or 29px */

  left: 0;

  /* --c-black */

  color: #1d1f22;
}

.outStock {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 32px;
  -webkit-text-stroke: 1px #8d8f9a;
  color: #1d1f22;
  position: absolute;
  left: 23%;
  top: 40%;
  text-transform: uppercase;
}

.buyIcon {
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  right: 7%;
  bottom: 13%;
}

.product:hover .buyIcon {
  display: block;
}

.buyIcon:hover {
  display: block;
  cursor: pointer;
  right: 7%;
  bottom: 13%;
  filter: contrast(1.25);
}

.imgContainer {
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: none;
}

.addToCart {
}
