@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

@import "../../assets/css/const";

.main {
  padding-top: 12vh;
  width: 89vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.title {
  text-transform: capitalize;
  margin-top: 11vh;
  margin-bottom: 15vh;

  font-size: 56px;
  color: $base-text-color;
}

.products {
  display: grid;
  //TODO solve grid adaptive repeating
  grid-template-columns: repeat(auto-fill, minmax(27.7vw, 1fr));
  grid-gap: 1rem;
  grid-row-gap: 15vh;
  margin-bottom: 10vh;
}

.product {
  background: $base-background-color;
  width: 27.7vw;
  height: fit-content;
}

.product:hover {
  box-shadow: 0 0 90px -30px $base-text-color;
}

.card {
  position: relative;
  margin: 0 auto;
  padding: 1vw 1vw 30px;
}

.cardStockOut {
  -webkit-filter: grayscale(1);
  opacity: 0.5;
}

.cardImage {
  max-width: 25vw;
  height: 47vh;
}

.cardTitle {
  margin-top: 1.5vh;
  font-size: 24px;
  color: $base-text-color;
}

.cardPrice {

  font-weight: 500;
  margin-top: 2px;
  font-size: 25px;
  margin-bottom: 30px;

  color: $base-text-color;
}

.outStock {
  font-size: 32px;
  color: $base-text-color;
  position: absolute;
  left: 23%;
  top: 40%;
  text-transform: uppercase;
}

.buyIcon {
  position: absolute;
  display: none;
  width: 100px;
  height: 100px;
  right: 7%;
  bottom: 13%;
}

.product:hover .buyIcon {
  display: block;
}

.buyIcon:hover {
  display: block;
  cursor: pointer;
  right: 7%;
  bottom: 13%;
}

.imgContainer {
  width: 100%;
  text-align: center;
}

.link {
  text-decoration: none;
}
