@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto&family=Roboto+Condensed:wght@700&display=swap");

@import "../../assets/css/calc";

.main {
  padding-top: calc(150px + 80px);
  padding-left: 135px;
  padding-right: 100px;
}

.title {
  width: 84px;
  height: 40px;
  left: 100px;
  top: 160px;
  text-transform: uppercase;

  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 40px;
  margin-bottom: 80px;
}

.container {
}

.elem {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 75% 40px 1fr;

  padding-top: calc-height(21px);
  padding-bottom: calc-height(21px);

  height: fit-content;
  border-bottom: #e5e5e5 solid 1px;
  border-top: #e5e5e5 solid 1px;
  margin-top: -2px;
}

@media screen and (max-width: 1200px) {
  .elem {
    grid-template-columns: 50% 40px 1fr;
  }
}

.controls {
  /*margin-left: 16px;*/
}

.itemSize {
  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 25px;
  /* identical to box height, or 114% */
  display: flex;

  color: #1d1f22;
}

.itemSizeSelector {
  width: fit-content;
}

.itemColor {
  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  /* identical to box height, or 114% */
  display: flex;

  color: #1d1f22;
}

.itemColorSelector {
  width: fit-content;
}

.itemCount {
  float: left;
  display: grid;
  grid-gap: 85px;
  grid-template-rows: 1fr 1fr 1fr;
}

.itemPlus {
  float: top;
}

.itemCountDisplay {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  /* identical to box height, or 26px */

  text-align: left;

  color: #1d1f22;
  margin-right: 38px;
}

.itemImgContainer {
  position: relative;
  top: 47%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc-width(200px);
  height: calc-height(288px);
}

.itemImg {
  position: absolute;
  max-width: 265px;
  width: fit-content;
  height: fit-content;
  right: 0;
  bottom: 0;
}

.itemTitle {
  width: fit-content;
  height: fit-content;

  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  /* or 26px */

  display: flex;
  align-items: center;

  color: #1d1f22;
}

.itemSubtitle {
  width: fit-content;
  height: fit-content;

  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  /* or 26px */

  margin-top: calc-height(8px);
  display: flex;
  align-items: center;

  color: #1d1f22;
}

.itemPrice {
  margin-top: 7px;
  margin-bottom: 20px;
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 700;
  left: 0;
  padding-top: 5px;
  font-size: 33px;

  /* identical to box height, or 26px */

  text-align: left;

  color: #1d1f22;
}

.itemSizeSelector > button {
  display: inline;
  background: #ffffff;
  border: #1d1f22 solid 2px;
  width: calc-width(63px);
  height: calc-height(45px);
  margin-right: 10px;
  font-family: "Source Sans Pro", serif;
  font-weight: 500;
  font-size: 23px;
}

.itemSizeSelector > button:hover {
  color: #ffffff;
  background: #1d1f22;
}

.itemSizeSelector > button.active {
  color: #ffffff;
  background: #1d1f22;
}

.itemColorSelector > button {
  display: inline;
  color: transparent;
  border: #ffffff solid 2px;
  width: calc-width(35px);
  height: calc-height(35px);
  margin-right: 7px;
}

.itemColorSelector > button.active {
  box-shadow: 0 0 0 2px #5ece7b;
}

.itemColorSelector > button:hover {
  box-shadow: 0 0 0 2px #5ece7b;
}

.itemCount > button {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  background: #ffffff;
  border: #1d1f22 solid 2px;
  width: 60px;
  height: 60px;
  font-weight: 300;
  font-size: 50px;
  font-family: serif;
}

.itemCount > button:hover {
  color: #ffffff;
  background: #1d1f22;
}

.itemMinus {
  float: bottom;
  padding-bottom: 55px;
  padding-right: 40px;
}

.label {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  /* identical to box height, or 117% */
  margin-top: 20px;

  color: #1d1f22;
}

.number {
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 28px;
  margin-top: 20px;
  /* identical to box height, or 117% */

  color: #1d1f22;
}

.stats {
  margin-top: 20px;
  display: inline-block;
  margin-bottom: 30px;
}

.labels {
  display: inline-block;
}

.numbers {
  display: inline-block;
  margin-left: 10px;
}

.payButtonContainer {
}

.payButton {
  text-transform: uppercase;
  background: #5ece7b;
  color: #ffffff;
  font-family: "Raleway", serif;
  border: #5ece7b solid 2px;
  font-size: 18px;
  padding: 15px 150px;
  margin-bottom: 50px;
}

.payButton:hover {
  background: #4fad66;
}

.switchGroup {
  float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  margin-bottom: 10px;
  margin-right: 10px;
}

.switchGroup > div > button {
  margin: 4px;
  background: #1d1f22;
  color: #ffffff;
  padding: 1px 5px;
  font-size: 20px;
  opacity: 0.9;
}
