$widthCoeff: calc(1920 / 1444);
$heightCoeff: calc(calc(1080 - 108) / 700);

@function calc-height($tempHeight){
  $result: calc(#{$tempHeight} * #{$heightCoeff});
  @return $result;
}

@function calc-width($tempWidth){
  $result: calc(#{$tempWidth} * #{$heightCoeff});
  @return $result;
}