$base-text-color: #1D1F22;
$base-background-color: #ffffff;
$base-active-color: #5ece7b;
$base-background-selected-color: #e5e5e5;
$base-active-selected-color: #4fad66;
$base-shadow-color: rgba(147, 147, 147, 0.65);
