*{
  padding: 0;
  margin: 0;
  font-family: "Raleway", serif;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

button{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgba(226, 226, 226, 0.89);
  //background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  //background: transparent;
}
