@import "../../assets/css/const";

.main {
  padding-top: 11vh;
  padding-left: 9vw;
}

.content {
  margin-top: 10vh;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 110px 2fr 1fr;
}

@media screen and (max-width: 1200px) {
  .content {
    grid-gap: 0;
    grid-template-columns: 110px 2fr;
  }
  .controls {
    position: absolute;
    top: 110vh;
    left: 45vw;
  }
}

.content > * {
  align-text: center;
  /*background-color: lightgreen;*/
  height: 850px;
}

div.gallery > img {
  margin-bottom: 48px;
  width: fit-content;
  max-width: 120px;
  height: 110px;
  border: $base-background-color solid 1px;
}

div.gallery > img:hover {
  box-shadow: 0 0 0 1px $base-active-color;
}

div.gallery > img.active {
  box-shadow: 0 0 0 1px $base-active-color;
}

.image > img {
  width: fit-content;
  overflow: hidden;
  max-width: 50vw;
  height: 80vh;
}

.imageContainer {
}

.controls {
  margin-left: -150px;
}

.title {
  font-weight: 600;
  font-size: 42px;

  color: $base-text-color;
}

.subtitle {
  padding-top: 10px;

  font-weight: 400;
  font-size: 45px;

  color: $base-text-color;
}

.label {
  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;

  color: $base-text-color;
}

.textLabel {
  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;

  color: $base-text-color;

  padding-top: 32px;
}

.colorLabel {
  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;

  color: $base-text-color;

  margin-top: 30px;
  padding-bottom: 10px;
}

.costLabel {
  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  color: $base-text-color;

  margin-top: 47px;
  margin-bottom: 20px;
}

.buttonsGroup > button {
  width: 82px;
  height: 60px;
  border: $base-text-color solid 2px;
  background: $base-background-color;
  margin-right: 10px;
  margin-top: 5px;

  font-family: "Source Sans Pro", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;

  letter-spacing: 0.05em;
}

.buttonsGroup > button:hover {
  color: $base-background-color;
  background: $base-text-color;
}

.buttonsGroup > button.active {
  color: $base-background-color;
  background: $base-text-color;
  border: $base-background-color solid 1px;
}

.cardPrice {
  font-weight: 700;
  font-size: 27px;
  padding-top: 20px;
  padding-bottom: 30px;

  color: $base-text-color;
}

.pallet > button {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  border: $base-background-color solid 1px;
}

.pallet > button.active {
  box-shadow: 0 0 0 2px $base-active-color;
}

.pallet > button:hover {
  box-shadow: 0 0 0 2px $base-active-color;
}

.addCart {
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  color: $base-background-color;
  padding: 22px 125px;
  background: $base-active-color;
  border: none;

  text-transform: uppercase;
}

.addCart:hover {
  background: $base-active-selected-color;
}

.description {
  margin-top: 40px;
  width: 400px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 159.96%;
}

.cost {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.outOfStock {
  font-size: 32px;
  font-weight: 800;
}
