@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

@import "../../assets/css/calc";

.main{
    padding-top: calc-height(80px);
    padding-left: calc-width(100px);
}

.content{
    margin-top: calc-height(75px);
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 110px 2fr 1fr;
}

.content>* {
    align-text: center;
    /*background-color: lightgreen;*/
    height: 850px;
}

div.gallery>img{
    padding-bottom: 48px;
    width: 110px;
    height: 110px;
}

.image > img {
    width: calc-width(580px);
    height: calc-height(490px);
}

.controls {
    margin-left: -150px;
}

.title{
    width: fit-content;
    height: fit-content;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;

    color: #1D1F22;
}

.subtitle{
    padding-top: 10px;
    width: fit-content;
    height: fit-content;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;

    color: #1D1F22;
}

.label{
    width: fit-content;
    height: fit-content;

    font-family: 'Roboto Condensed', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;
}

.sizeLabel{
    width: fit-content;
    height: fit-content;

    font-family: 'Roboto Condensed', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;

    padding-top: 32px;
}

.colorLabel{
    width: fit-content;
    height: fit-content;

    font-family: 'Roboto Condensed', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;

    margin-top: 30px;
    padding-bottom: 10px;
}

.costLabel{
    width: fit-content;
    height: fit-content;

    font-family: 'Roboto Condensed', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;

    margin-top: 47px;
    margin-bottom: 20px;
}

.buttonsGroup > button{
    width: 82px;
    height: 60px;
    border: #1D1F22 solid 2px;
    background: #FFFFFF;
    margin-right: 10px;
    margin-top: 5px;

    font-family: 'Source Sans Pro', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}

.buttonsGroup > button:hover{
    color: #FFFFFF;
    background: #1D1F22;
}

.buttonsGroup > button.active{
    color: #FFFFFF;
    background: #1D1F22;
    border: #FFFFFF solid 1px;
}

.cardPrice{
    width: fit-content;
    height: fit-content;

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 30px;
    /* or 75% */

    display: flex;
    align-items: center;

    color: #1D1F22;
}

.pallet > button{
    margin-right: 10px;
    width: 42px;
    height: 42px;
    border: #FFFFFF solid 1px;
}

.pallet > button.active{
    box-shadow: 0 0 0 2px #5ece7b;
}

.pallet > button:hover{
    box-shadow: 0 0 0 2px #5ece7b;
}

.addCart{
    /* --button-font */

    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 22px 125px;
    background: #5ECE7B;
    border: none;
    /* identical to box height, or 19px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.addCart:hover{
    background: #4fad66;
}

.description{
    margin-top: 40px;
    width: 400px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 159.96%;
}

.cost{
    font-family: 'Raleway', serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}