@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&family=Roboto+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Roboto&family=Roboto+Condensed:wght@700&display=swap");

.main {
  padding-top: 11vh;
  padding-left: 9vw;
}

.content {
  margin-top: 10vh;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 110px 2fr 1fr;
}

@media screen and (max-width: 1200px) {
  .content {
    grid-gap: 0;
    grid-template-columns: 110px 2fr;
  }
  .controls {
    position: absolute;
    top: 110vh;
    left: 45vw;
  }
}

.content > * {
  align-text: center;
  /*background-color: lightgreen;*/
  height: 850px;
}

div.gallery > img {
  margin-bottom: 48px;
  width: fit-content;
  max-width: 120px;
  height: 110px;
  border: #ffffff solid 1px;
}

div.gallery > img:hover {
  //TODO set variable in index
  box-shadow: 0 0 0 1px #5ece7b;
}

div.gallery > img.active {
  //TODO set variable in index
  box-shadow: 0 0 0 1px #5ece7b;
}

.image > img {
  width: fit-content;
  overflow: hidden;
  max-width: 50vw;
  height: 80vh;
}

.imageContainer {
}

.controls {
  margin-left: -150px;
}

.title {

  font-weight: 600;
  font-size: 42px;

  color: #1d1f22;
}

.subtitle {
  padding-top: 10px;

  font-weight: 400;
  font-size: 45px;

  //TODO set variable in index
  color: #1d1f22;
}

.label {

  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;

  //TODO set variable in index
  color: #1d1f22;
}

.textLabel {

  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;

  //TODO set variable in index
  color: #1d1f22;

  padding-top: 32px;
}

.colorLabel {

  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;

  //TODO set variable in index
  color: #1d1f22;

  margin-top: 30px;
  padding-bottom: 10px;
}

.costLabel {

  font-family: "Roboto Condensed", serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  //TODO set variable in index
  color: #1d1f22;

  margin-top: 47px;
  margin-bottom: 20px;
}

.buttonsGroup > button {
  width: 82px;
  height: 60px;
  //TODO set variable in index
  border: #1d1f22 solid 2px;
  background: #ffffff;
  margin-right: 10px;
  margin-top: 5px;

  font-family: "Source Sans Pro", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;

  letter-spacing: 0.05em;
}

.buttonsGroup > button:hover {
  //TODO set variable in index
  color: #ffffff;
  background: #1d1f22;
}

.buttonsGroup > button.active {
  //TODO set variable in index
  color: #ffffff;
  background: #1d1f22;
  border: #ffffff solid 1px;
}

.cardPrice {
  font-weight: 700;
  font-size: 27px;
  padding-top: 20px;
  padding-bottom: 30px;

  color: #1d1f22;
}

.pallet > button {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  //TODO set variable in index
  border: #ffffff solid 1px;
}

.pallet > button.active {
  //TODO set variable in index
  box-shadow: 0 0 0 2px #5ece7b;
}

.pallet > button:hover {
  //TODO set variable in index
  box-shadow: 0 0 0 2px #5ece7b;
}

.addCart {
  font-weight: 600;
  font-size: 21px;
  line-height: 120%;
  //TODO set variable in index
  color: #ffffff;
  padding: 22px 125px;
  background: #5ece7b;
  border: none;

  text-transform: uppercase;
}

.addCart:hover {
  //TODO set variable in index
  background: #4fad66;
}

.description {
  margin-top: 40px;
  width: 400px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 159.96%;
}

.cost {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

.outOfStock {
  font-size: 32px;
  font-weight: 800;
}
